<button class="btn btn-primary">Add</button>
<table class="table table-bordered table-hover" id="bookings" style="width: 1000px;">
    <thead>
        <tr>
            <th sortable order="'datetime'" by="order" reverse="reverse" class="joinRight col-md-2">Date</th>
            <th sortable order="'status.id'" by="order" reverse="reverse" class="joinLeft joinRight"></th>
            <th class="joinRight joinLeft"></th>
            <th class="joinRight joinLeft"></th>
            <th sortable order="'location.name'" by="order" reverse="reverse">Location</th>
            <th sortable order="'vehicle.brand.name'" by="order" reverse="reverse" class="joinRight">Vehicle</th>
            <th sortable order="'vehicle.model.name'" by="order" reverse="reverse" class="joinLeft joinRight"></th>
            <th sortable order="'vehicle.color'" by="order" reverse="reverse" class="joinLeft"></th>
            <th class="joinLeft"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="aBooking in bookings | orderBy:order:reverse">

            <td class="monospace noWrap joinRight">
                <span class="pale" style="font-size: smaller;">{{aBooking.datetime | date:'[EEE] '}}</span>
                <span>{{aBooking.datetime | date:'yyyy-MM-dd'}}</span>
                <span class="pale" style="font-size: smaller;">{{aBooking.datetime | date:' [HH:mm]'}}</span>
            </td>

            <td class="monospace joinLeft joinRight STATUS STATUS_{{ aBooking.status.name }}"
                data-animation="none"
                data-container="body"
                data-html="true"
                bs-dropdown="statusDropdown">
                <div style="width: 100%; height: 100%;">{{aBooking.status.nameShort}}</div>
            </td>

            <td ng-if="false"
                class="monospace joinLeft joinRight STATUS STATUS_{{ aBooking.status.name }} dropdown dropdown-toggle"
                data-toggle="dropdown"
                data-placement="top"
                data-animation="none"
                data-container="body"
                bs-tooltip="aBooking.status.nameDisplay">
                <div style="width: 100%; height: 100%;">{{aBooking.status.nameShort}}</div>

                <ul class="dropdown-menu">
                    <li ng-repeat="aStatus in config.statuses"
                        class="monospace status_choice STATUS_{{ aStatus.name }}"
                        id="STATUS_{{ aStatus.name }}"
                        ng-click="aBooking.status = aStatus">
                        <div>{{aStatus.nameDisplay}}</div>
                    </li>
                </ul>
            </td>
            <td ng-if="aBooking.status.id != aBooking.status.idNext"
                class="smallIcon joinLeft joinRight"
                data-placement="top"
                data-animation="none"
                data-container="body"
                bs-tooltip="'Click to advance booking status'"
                ng-click="setHigherStatus(aBooking)">
                <span><i class="glyphicon glyphicon-hand-up"></i></span>
            </td>
            <td ng-if="aBooking.status.id == aBooking.status.idNext"
                class="smallIcon joinLeft joinRight"></td>

            <td ng-if="aBooking.status.id != aBooking.status.idPrevious"
                class="smallIcon joinLeft"
                data-placement="top"
                data-animation="none"
                data-container="body"
                bs-tooltip="'Click to downgrade booking status'"
                ng-click="setLowerStatus(aBooking)">
                <span><i class="glyphicon glyphicon-hand-down"></i></span>
            </td>
            <td ng-if="aBooking.status.id == aBooking.status.idPrevious"
                class="smallIcon joinLeft" ></td>

            <td>{{aBooking.location.name}}</td>
            <td class="joinRight text-right">{{aBooking.vehicle.brand.name}}</td>
            <td class="joinLeft text-left">{{aBooking.vehicle.model.name}}</td>
            <td class="VEHICLE_{{aBooking.vehicle.color.toUpperCase()}}">{{aBooking.vehicle.color}}</td>
            <td class="smallIcon"
                data-placement="right"
                data-animation="none"
                data-container="body"
                bs-tooltip="'Click to see booking details'"
                ng-click="editBooking(aBooking)">
                <span class="infoIcon"><i class="glyphicon glyphicon-info-sign"></i></span>
            </td>
        </tr>
    </tbody>
</table>

<pre>{{ bookings }}</pre>
