<div class="container-fluid">
    <h4>Booking details</h4>

    <form class="form-horizontal" role="form" name="bookingForm">

        <div class="form-group">
            <label class="col-md-2 control-label" for="booking.vehicle">Vehicle</label>
            <div class="col-md-9">
                <div class="input-group"
                     ng-class="{'has-error' : !bookingForm['booking.vehicle'].$valid}">
                    <input name="booking.vehicle"
                           class="form-control"
                           id="booking.vehicle"
                           type="text"
                           placeholder="vehicle"
                           ng-model="booking.vehicle"
                           typeahead="aVehicle as aVehicle.displayName for aVehicle in vehicles | filter:{displayName:$viewValue}"
                           typeahead-editable="false" class="form-control"
                           ng-required="true"
                           remembers>
                    <span class="input-group-addon"
                          popover-placement="top"
                          popover-trigger="mouseenter"
                          popover-animation="false"
                          popover-append-to-body="true"
                          popover="Edit this vehicle">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>
                    <span class="input-group-addon"
                          popover-placement="top"
                          popover-trigger="mouseenter"
                          popover-animation="false"
                          popover-append-to-body="true"
                          popover="Add a new vehicle">
                        <i class="glyphicon glyphicon-plus"></i>
                    </span>

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">When</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           datepicker-popup="dd-MM-yyyy"
                           ng-model="booking.datetime"
                           is-open="$parent.isCalendarOpened"
                           ng-required="false"
                           close-text="Close"
                           disabled/>
                    <span class="input-group-addon" ng-click="open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                    <timepicker-pop ng-model="booking.datetime"
                                hour-step="1"
                                minute-step="15"
                                show-meridian="ismeridian"></timepicker-pop>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="dropdown.input">When</label>
            <div class="dropdown col-md-9">
                <a class="dropdown-toggle"
                   id="dropdown"
                   role="button"
                   data-toggle="dropdown"
                   data-target="#"
                   href="#">
                    <div class="input-group">
                        <input type="text"
                               name="booking.datetime"
                               id="dropdown.input"
                               class="form-control"
                               data-ng-model="booking.datetime">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="booking.datetime" data-datetimepicker-config="{ dropdownSelector: '#dropdown' }"/>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="booking.location">Where</label>
            <div class="col-md-9">
                <input name="booking.location"
                       class="form-control"
                       id="booking.location"
                       type="text"
                       placeholder="location name"
                       ng-model="booking.location"
                       typeahead="aLocation as aLocation.name for aLocation in locations | filter:{name:$viewValue}"
                       typeahead-editable="true" class="form-control"
                       ng-focus="booking.location = null;">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="dropdown.input">Status</label>
            <div class="col-md-9">
                <input name="booking.status"
                       class="form-control"
                       id="booking.status"
                       type="text"
                       placeholder="booking status"
                       ng-model="booking.status"
                       typeahead="aStatus as aStatus.nameDisplay for aStatus in statuses| filter:{nameDisplay:$viewValue}"
                       typeahead-editable="false" class="form-control"
                       ng-focus="booking.status = null;">
            </div>
        </div>

        <div class="form-group">
            <label for="booking.notes" class="col-md-2 control-label">Notes</label>
            <div class="col-md-9">
                <textarea rows="4"
                          class="form-control"
                          id="booking.notes"
                          name="booking.notes"
                          ng-model="booking.notes"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-8">
                <button type="button" class="btn btn-primary" ng-click="updateBooking(booking); ok();" ng-disabled="form.$invalid">Update</button>
                <button type="button" class="btn btn-danger" ng-click="cancel();">Cancel</button>
            </div>
        </div>

    </form>
</div>
