<div ng-repeat="aBranch in branches">
    <h5>{{aBranch.name}} (protected: {{aBranch.protectedBranch}})</h5>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 40px">Type</th>
            <th style="width: 120px">Date</th>
            <th style="width: 100px">Author</th>
            <th style="width: 100px">Jira</th>
            <th>GitLab</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="aCommit in aBranch.history">
            <td ng-class="{'bg-success' : aCommit.merge === true, 'bg-danger' : aCommit.merge === false}">{{
                aCommit.merge === true ? 'Merge' : 'Commit' }}
            </td>
            <td class="text-left">{{ aCommit.dateTimeCommitted | date:'MM/dd/yyyy H:mm'}}</td>
            <td class="text-left">{{ aCommit.authorName | limitTo:100 }}</td>
            <td>
                <span ng-repeat="(issueID, issueDetails) in aCommit.issues">
                    {{ issueID }}
                </span>
            </td>
            <td class="text-left">{{ aCommit.message | limitTo:100 }}</td>
        </tr>
        </tbody>
    </table>
</div>
