body {
    font-family: "Helvetica";
    font-size: 12px;
    margin: 2%;
    padding: 4px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 4px 8px;
    line-height: 2.8;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.table .text-right {
    text-align: right;
    padding-right: 8px;
}

.table .text-left {
    text-align: left;
    padding-left: 8px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
    padding: 8px;
}

.table .VEHICLE_BLACK {
    background-color: #000000 !important;
    color: #ffffff !important;
}

.table .VEHICLE_WHITE {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.table .VEHICLE_GREY,
.table .VEHICLE_SILVER, {
    background-color: #c0c0c0 !important;
    color: #000000 !important;
}

.table .VEHICLE_RED {
    background-color: red !important;
    color: #ffffff !important;
}

.table .VEHICLE_DARK_RED {
    background-color: darkred !important;
    color: #ffffff !important;
}

.table .VEHICLE_BRIGHT_RED {
!important;
    background-color: indianred !important;
    color: #000000
}

.table .VEHICLE_GREEN {
    background-color: green !important;
    color: #ffffff !important;
}

.table .VEHICLE_DARK_GREEN {
    background-color: darkgreen !important;
    color: #ffffff !important;
}

.table .VEHICLE_BRIGHT_GREEN {
    background-color: greenyellow !important;
    color: #000000 !important;
}

.table .VEHICLE_BLUE {
    background-color: blue !important;
    color: #ffffff !important;
}

.table .VEHICLE_DARK_BLUE {
    background-color: darkblue !important;
    color: #ffffff !important;
}

.table .VEHICLE_BRIGHT_BLUE {
    background-color: #add8e6 !important;
    color: #000000 !important;
}

.table .VEHICLE_YELLOW {
    background-color: #ffff00 !important;
    color: #000000 !important;
}

.table .VEHICLE_ORANGE {
    background-color: orange !important;
    color: #000000 !important;
}

.pale {
    color: #808080;
}

.monospace {
    font-family: "Consolas", "Courier New", Courier, mono;
}

.noWrap,
.table > thead > tr > th > span.noWrap,
.table > tbody > tr > td > span.noWrap {
    white-space: nowrap;
}

.table .joinRight {
    border-right: none;
}

.table .joinLeft {
    border-left: none;
}

.table [class*="STATUS_"] {
    text-transform: uppercase;
    clear: both;
    white-space: nowrap;
}

.table .status_choice {
    padding: 3px 20px;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
}

.table .STATUS_NO_SHOW {
    background-color: darkred !important;
    color: #ebccd1 !important;
    text-decoration: line-through;
    font-style: normal;
}

.table .STATUS_CANCELLED,
.table .STATUS_POSTPONED {
    background-color: lightcoral !important;
    color: darkred !important;
    text-decoration: line-through;
}

.table .STATUS_AWAITING_CONFIRMATION,
.table .STATUS_MUST_CONFIRM {
    background-color: #faf2cc !important;
    color: #66512c !important;
    text-decoration: none;
}

.table .STATUS_AWAITING_FOLLOWUP,
.table .STATUS_MUST_FOLLOWUP {
    background-color: #f9f9f9 !important;
    color: #5046c6 !important;
    text-decoration: none;
}

.table .STATUS_MUST_SUGGEST,
.table .STATUS_AWAITING_SUGGESTION {
    background-color: #c9eaff !important;
    color: #555775 !important;
    text-decoration: none;
}

.table .STATUS_COMPLETED,
.table .STATUS_COMPLETED td {
    background-color: #d4eac8 !important;
    color: #3c763d !important;
    text-decoration: line-through;
    font-style: italic;
}

.table .STATUS_DELIVERED {
    background-color: thistle !important;
    color: #4d2e6f !important;
    text-decoration: line-through;
    font-style: italic;
}

.table .STATUS_CONFIRMED {
    background-color: #e7ffda !important;
    color: #3c763d !important;
    text-decoration: none;
}

.table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.table .smallIcon {
    padding: 0px;
    margin: 0px;
}

.table .infoIcon {
    color: cornflowerblue;
}

.table .goodIcon {
    color: mediumseagreen;
}

.table .badIcon {
    color: orangered;
}

.table .smallIcon .glyphicon {
    font-size: large;
    vertical-align: middle;
}

.table > tbody > tr > td.infoRibbonVisible {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
    width: 3px;
}

.table > tbody > tr > td.infoRibbonInvisible, .table > thead > tr > th.infoRibbonInvisible {
    padding: 0px;
    margin: 0px;
    width: 3px;
}

.table > thead > tr > th > div.orderIcon {
    float: right;
}

.table > thead > tr > th > div.inactive {
    opacity: 0.2;
}

.tooltip {
    text-transform: none;
}
